<div class="change-password-body">
    <h1>Change Password</h1>
    <input class="change-password-body-input" type='email' placeholder="email" />
    <input class="change-password-body-input" type="password" placeholder="password" />
    <div class="requirements-container">
        <ul>
            <li>10 Characters Minimum length</li>
            <li>1 Uppercase letter</li>
            <li>1 Number</li>
            <li>1 Special character</li>
        </ul>
    </div>
    <input class="change-password-body-input" type="password" placeholder="confirm password" />
    <button class="btn">Submit</button>
</div>