.header {
    background-color: #2f7ae5;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    color: white;

    a {
        color: white;
        text-decoration: none;
        flex: 4;
    }

    .header-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 1;

        .header-button:hover {
            cursor: pointer;
        }
    }
}
