<form class="register-body" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1>Register</h1>
    <input class="register-body-input" type='email' placeholder="email" formControlName="email" />
    <input class="register-body-input" type="password" placeholder="password" formControlName="password" />
    <div class="requirements-container">
        <ul>
            <li>10 Characters Minimum length</li>
            <li>1 Uppercase letter</li>
            <li>1 Number</li>
            <li>1 Special character</li>
        </ul>
    </div>
    <input class="register-body-input" type="password" placeholder="confirm password"
        formControlName="confirmPassword" />
    <button class="btn" type="submit">Register</button>

    <a routerLink="/auth/login">
        Already have an account ? login here
    </a>
</form>