@use "../auth.component.scss" as *;

.register-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 400px;
    gap: 20px;

    .register-body-input {
        background-color: white;
        border-radius: 10px;
        border-color: transparent;
        padding: 10px 10px;
        width: 100%;
    }

    .register-body-card {
        background-color: white;
        border-radius: 40px;
        padding: 40px 200px;
    }

    .requirements-container {
        display: flex;
        color: white;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
}
