<div class="add-cv-container">
    <form class="add-cv-left-container" [formGroup]="generalInfoForm">

        <h3>General Information</h3>
        <div class="display-row">
            <input class="" type='text' placeholder="First Name" formControlName="first_name" />
            <input class="" type='text' placeholder="Last Name" formControlName="last_name" />
        </div>
        <input class="" type='email' placeholder="Email" formControlName="email" />
    </form>

    <div class="add-cv-right-container">h</div>
</div>