<div *ngIf="data.length>0; else createCv" class="cv-container">
    <div *ngFor="let cv of data" class="cv-item">
        <img src="/pdf.png" class="cv-item-img" />
        <div>{{cv.title}}</div>
    </div>
    <a class="cv-item add-button" routerLink="/cv/add">
        <img src="/plus.png" class="plus-icon" />
    </a>
</div>

<ng-template #createCv>
    <div class="add-container center">
        <h2>Create a new CV</h2>
        <a class="cv-item add-button" routerLink="/cv/add">
            <img src="/plus.png" class="plus-icon" />
        </a>
    </div>
</ng-template>