<div *ngIf="data.length>0; else createCv" class="cv-container">
    <div *ngFor="let cv of data" class="cv-item">
        <img src="/pdf.png" class="cv-item-img" />
        <div>{{cv.title}}</div>
    </div>
    <div class="cv-item add-button">
        <img src="/plus.png" class="plus-icon" />
    </div>
</div>

<ng-template #createCv>
    <div class="add-container center">
        <h2>Create a new CV</h2>
        <div class="cv-item add-button">
            <img src="/plus.png" class="plus-icon" />
        </div>
    </div>
</ng-template>