@import "../auth.component.scss";

.login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 400px;
    gap: 20px;

    .login-body-input {
        background-color: white;
        border-radius: 10px;
        border-color: transparent;
        padding: 10px 10px;
        width: 100%;
    }

    .oauth-button {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        background-color: white;
        border-radius: 10px;
        width: 100%;
        padding: 10px 10px;

        .oauth-button-text {
            color: black;
            margin-left: 20px;
        }
    }

    .oauth-button:hover {
        cursor: pointer;
    }

    .login-body-card {
        background-color: white;
        border-radius: 40px;
        padding: 40px 200px;
    }
}
